@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Varela+Round&display=swap');
.App {
  text-align: center;
}

body {
  background-color: #000000;
  /* background-image: url('./components/images/planets.jpg'); */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

a {
  color: #00ffaa;
  text-decoration: none;
}

a:hover {
  color: #fd2a5c;
  cursor: pointer;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(to right, #00ff4450, #00ffd950);
  padding: 2em;
  position: fixed;
  top: 0;
  width: 100%;
}

nav img {
  margin-right: 20px;
  height: 60px;
  width: 60px;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 95%;
}

nav h1 {
  background-color: #555555cc;
  font-size: 2em;
  margin: 5px;
  padding: 0.1em 0.2em 0.1em 0.2em;
  text-shadow: 1px 1px 1px #ff007b;
}

.inner {
  color: #ff007b;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 1em;
  margin-top: 8em;
  text-decoration: underline;
  text-shadow: 1px 1px 2px #001aff, 0 0 1em #00ff80, 0 0 0.2em #00ffd9;
}

footer {
  color: #ffffff;
  font-size: 10px;
  font-weight: bold;
  position: fixed;
  bottom: 0;
  right: 1%;
}

input[type="submit"], button {
  background-color: #822afd90;
  border: none;
  border-radius: 8px;
  box-shadow: 6px 6px 10px 0px #474747cc;
  color: #00ffaa;
  font-weight: bold;
  padding: 0.7em 2em 0.7em 2em;
}

input[type="submit"]:hover, button:hover {
  color: #fd2a5b;
  cursor: pointer;
}

@media (max-width: 614px) {
  .inner {
    flex-direction: column-reverse;
    margin-top: 12em;
  }

  input[type="submit"] {
    width: 40%;
  }
}
